<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>

<% include ./partials/_header %>

</header>

    <% for (const key in urls) { %>

      <p><%= urls[key] %>  <%= key %></p>

      <a href="/urls/<%= key %>">Edit URL</a>
      <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" value="Delete"></form>

    <% }; %>

    <p><a href='http://localhost:8080/urls/new'>Shorten URL</a></p>

</body>
</html>