<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>

<% include ./partials/_header %>

</header>

    <% for (const i in urls) { %>

      <p><%= urls[i].url %>  <%= i %></p>
      <!-- creates form for deleting URLS -->
      <a href="/urls/<%= i %>">Edit URL</a>
      <form method="POST" action="/urls/<%= i %>/delete"><input type="submit" value="Delete"></form>

    <% }; %>

    <p><a href='#'>Shorten URL</a></p>

</body>
</html>